<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<head>
<title></title>
<meta http_quiv="content-type" content="text/html; charset=utf-8">
<link href="/resources/css/diagno.css" rel="stylesheet" />
</head>
<body>
	<div class="hpa" style="width: 210mm; height: 297mm;">
		<div class="hcD" style="left: 10mm; top: 10mm;">
			<div class="hcI">
				<div class="hls ps1"
					style="line-height: 30.34mm; white-space: nowrap; left: 0mm; top: 0mm; height: 30.34mm; width: 189.99mm;">
					<div class="htb"
						style="left: 0.34mm; width: 159.51mm; top: 0.55mm; height: 30.34mm; display: inline-block; position: relative; vertical-align: middle;">
						<svg class="hs" viewBox="-2.50 -2.50 164.51 35.34"
							style="left: -2.50mm; top: -2.50mm; width: 164.51mm; height: 35.34mm;">
							<path d="M51.77,11.41 L79.59,11.41"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M51.77,11.78 L79.59,11.78"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M79.59,11.41 L99.48,11.41"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M79.59,11.78 L99.48,11.78"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M99.48,11.41 L112.41,11.41"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M99.48,11.78 L112.41,11.78"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M51.77,11.41 L79.59,11.41"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M51.77,11.78 L79.59,11.78"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M79.59,11.41 L99.48,11.41"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M79.59,11.78 L99.48,11.78"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M99.48,11.41 L112.41,11.41"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M99.48,11.78 L112.41,11.78"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M129.33,0 L129.33,29.79"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M159.17,0 L159.17,29.79"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M129.27,0 L159.24,0"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M129.27,7.59 L159.24,7.59"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M129.27,29.79 L159.24,29.79"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M159.17,0 L159.17,29.79"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M129.33,0 L129.33,29.79"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M129.27,29.79 L159.24,29.79"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M129.27,0 L159.24,0"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path></svg>
						<div class="hce"
							style="left: 0mm; top: 0mm; width: 19.90mm; height: 11.60mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 3.68mm;">
									<div class="hls ps0"
										style="line-height: 3.43mm; white-space: nowrap; left: 0mm; top: -0.21mm; height: 4.23mm; width: 19.23mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 19.90mm; top: 0mm; width: 31.92mm; height: 11.60mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 3.68mm;">
									<div class="hls ps0"
										style="line-height: 3.43mm; white-space: nowrap; left: 0mm; top: -0.21mm; height: 4.23mm; width: 31.26mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 51.82mm; top: 0mm; width: 60.55mm; height: 11.60mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 2.62mm;">
									<div class="hls ps1"
										style="line-height: 5.52mm; white-space: nowrap; left: 0mm; top: -0.32mm; height: 6.35mm; width: 59.89mm;">
										<span class="hrt cs11">진 단 서&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 112.37mm; top: 0mm; width: 16.96mm; height: 11.60mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 3.68mm;">
									<div class="hls ps0"
										style="line-height: 3.43mm; white-space: nowrap; left: 0mm; top: -0.21mm; height: 4.23mm; width: 16.30mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 129.33mm; top: 0mm; width: 29.84mm; height: 7.59mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 2.03mm;">
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 29.18mm;">
										<span class="hrt cs10">원부대조필 인</span>
										<img alt="아작난 도장" src="/resources/images/아작나스_도장.png">
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 129.33mm; top: 7.59mm; width: 29.84mm; height: 22.20mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 1.61mm;">
									<div class="hls ps7"
										style="line-height: 18.98mm; white-space: nowrap; left: 0mm; top: 0mm; height: 18.98mm; width: 29.18mm;">
										<div class="hsR"
											style="top: 0mm; left: 0mm; margin-bottom: 0mm; margin-right: 0mm; width: 16.63mm; height: 18.98mm; display: inline-block; position: relative; vertical-align: middle; background-repeat: no-repeat; background-image: url('아작나스 진단서_hd1.png');"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 11.60mm; width: 51.82mm; height: 8.59mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 2.53mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 51.15mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 51.82mm; top: 11.60mm; width: 27.77mm; height: 8.59mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 2.53mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 27.11mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 79.59mm; top: 11.60mm; width: 19.90mm; height: 8.59mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 2.53mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 19.23mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 99.48mm; top: 11.60mm; width: 12.88mm; height: 8.59mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 2.53mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 12.22mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 112.37mm; top: 11.60mm; width: 16.96mm; height: 8.59mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 2.53mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 16.30mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 20.19mm; width: 51.82mm; height: 9.60mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 3.03mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 51.15mm;">
										<span class="hrt cs13">담 당 의:
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 51.82mm; top: 20.19mm; width: 77.51mm; height: 9.60mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 3.03mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 76.85mm;">
										<span class="hrt cs10">&nbsp;</span><span class="hrt cs16">진단서
											번호:</span><span class="hrt cs13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hls ps1"
					style="line-height: 227.40mm; white-space: nowrap; left: 0mm; top: 32.67mm; height: 227.40mm; width: 189.99mm;">
					<div class="htb"
						style="left: 0.34mm; width: 159.61mm; top: 0.55mm; height: 227.40mm; display: inline-block; position: relative; vertical-align: middle;">
						<svg class="hs" viewBox="-2.50 -2.50 164.61 232.40"
							style="left: -2.50mm; top: -2.50mm; width: 164.61mm; height: 232.40mm;">
							<path d="M0,0 L0,226.86"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path>
							<path d="M28.55,0 L28.55,154.16"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M65.13,0 L65.13,14.13"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M82.14,60.63 L82.14,87.32"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M97.17,139.98 L97.17,154.16"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M102.11,0 L102.11,14.13"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M102.11,60.63 L102.11,87.32"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M115.70,139.98 L115.70,154.16"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M126.97,28.42 L126.97,60.64"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M159.27,0 L159.27,226.86"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path>
							<path d="M0,0 L159.28,0"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path>
							<path d="M0,14.13 L159.28,14.13"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M0,28.42 L159.28,28.42"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M0,60.63 L159.28,60.63"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M0,87.32 L159.28,87.32"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M0,139.98 L159.28,139.98"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M0,154.16 L159.28,154.16"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.12;"></path>
							<path d="M0,226.85 L159.28,226.85"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path>
							<path d="M159.27,0 L159.27,226.86"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path>
							<path d="M0,0 L0,226.86"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path>
							<path d="M0,226.85 L159.28,226.85"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path>
							<path d="M0,0 L159.28,0"
								style="stroke:#000000;stroke-linecap:butt;stroke-width:0.40;"></path></svg>
						<div class="hce"
							style="left: 0mm; top: 0mm; width: 28.55mm; height: 14.13mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.30mm;">
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">환</span><span class="hrt cs10">자의
											성명</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 28.55mm; top: 0mm; width: 36.58mm; height: 14.13mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.30mm;">
									<div class="hls ps4"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 35.91mm;">
										<span class="hrt cs10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 65.13mm; top: 0mm; width: 36.99mm; height: 14.13mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.30mm;">
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 36.32mm;">
										<span class="hrt cs10">주민등록번호</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 102.11mm; top: 0mm; width: 57.16mm; height: 14.13mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 1.77mm;">
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 56.49mm;">
										<span class="hrt cs10">&nbsp;</span>
									</div>
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 3.35mm; height: 3.53mm; width: 56.49mm;"></div>
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 6.88mm; height: 3.53mm; width: 56.49mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 14.13mm; width: 28.55mm; height: 14.29mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.38mm;">
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">환자의 주소</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 28.55mm; top: 14.13mm; width: 130.73mm; height: 14.29mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.38mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 130.06mm;">
										<span class="hrt cs10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 28.42mm; width: 28.55mm; height: 32.21mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI">
									<div class="hls ps4"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 27.88mm;"></div>
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 3.35mm; height: 3.53mm; width: 27.88mm;"></div>
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 6.88mm; height: 3.53mm; width: 27.88mm;"></div>
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 10.41mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">병
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;명</span>
									</div>
									<div class="hls ps6"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 13.93mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">&nbsp;</span>
									</div>
									<div class="hls ps6"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 17.46mm; height: 3.53mm; width: 27.88mm;"></div>
									<div class="hls ps6"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 20.99mm; height: 3.53mm; width: 27.88mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 28.55mm; top: 28.42mm; width: 98.42mm; height: 32.21mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.87mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 97.76mm;"></div>
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 5.47mm; height: 3.53mm; width: 97.76mm;">
										<span class="hrt cs15">&nbsp;</span>
									</div>
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 11.11mm; height: 3.53mm; width: 97.76mm;">
										<span class="hrt cs15">&nbsp;</span>
									</div>
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 16.76mm; height: 3.53mm; width: 97.76mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 126.97mm; top: 28.42mm; width: 32.30mm; height: 32.21mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI">
									<div class="hls ps3"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 31.64mm;"></div>
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 3.35mm; height: 3.53mm; width: 31.64mm;">
										<span class="hrt cs10">한 국 질 병</span>
									</div>
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 9mm; height: 3.53mm; width: 31.64mm;">
										<span class="hrt cs10">분 류 번 호</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 60.63mm; width: 28.55mm; height: 26.68mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 11.58mm;">
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">발 &nbsp;병 &nbsp;일</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 28.55mm; top: 60.63mm; width: 53.59mm; height: 26.68mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 11.58mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 52.93mm;">
										<span class="hrt cs10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 82.14mm; top: 60.63mm; width: 19.97mm; height: 26.68mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 11.58mm;">
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 19.30mm;">
										<span class="hrt cs10">진 단 일</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 102.11mm; top: 60.63mm; width: 57.16mm; height: 26.68mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 3.11mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 56.49mm;">
										<span class="hrt cs10">&nbsp;</span>
									</div>
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 5.47mm; height: 3.53mm; width: 56.49mm;">
										<span class="hrt cs14">&nbsp;&nbsp;&nbsp;&nbsp;</span>
									</div>
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 11.11mm; height: 3.53mm; width: 56.49mm;">
										<span class="hrt cs14">&nbsp;</span>
									</div>
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 16.76mm; height: 3.53mm; width: 56.49mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 87.32mm; width: 28.55mm; height: 52.66mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 18.92mm;">
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">향
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;후</span>
									</div>
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 5.47mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">치
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;료</span>
									</div>
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 11.11mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">의
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;견</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 28.55mm; top: 87.32mm; width: 130.73mm; height: 52.66mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 24.57mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 130.06mm;">
										<span class="hrt cs15">&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 139.98mm; width: 28.55mm; height: 14.18mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.32mm;">
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 27.88mm;">
										<span class="hrt cs10">비
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 28.55mm; top: 139.98mm; width: 68.62mm; height: 14.18mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.32mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 67.96mm;"></div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 97.17mm; top: 139.98mm; width: 18.53mm; height: 14.18mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.32mm;">
									<div class="hls ps1"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 17.86mm;">
										<span class="hrt cs10">용 도</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 115.70mm; top: 139.98mm; width: 43.58mm; height: 14.18mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 5.32mm;">
									<div class="hls ps0"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 42.91mm;">
										<span class="hrt cs10">&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="hce"
							style="left: 0mm; top: 154.16mm; width: 159.27mm; height: 72.70mm;">
							<div class="hcD" style="left: 0.66mm; top: 0mm;">
								<div class="hcI" style="top: 18.71mm;">
									<div class="hls ps5"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: -0.18mm; height: 3.53mm; width: 158.61mm;">
										<span class="hrt cs12">&nbsp;</span><span class="hrt cs10">&nbsp;&nbsp;&nbsp;위와
											같이 진단함</span>
									</div>
									<div class="hls ps5"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 6.17mm; height: 3.53mm; width: 158.61mm;"></div>
									<div class="hls ps5"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 12.52mm; height: 3.53mm; width: 158.61mm;">
										<span class="hrt cs10">&nbsp;&nbsp;&nbsp;&nbsp;발
											&nbsp;&nbsp;&nbsp;행 &nbsp;&nbsp;&nbsp;일 : &nbsp;&nbsp;</span>
									</div>
									<div class="hls ps5"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 18.87mm; height: 3.53mm; width: 158.61mm;">
										<span class="hrt cs10">&nbsp;&nbsp;&nbsp;&nbsp;의 료 기 관
											명 : 대덕 아작(나)스 병원</span>
									</div>
									<div class="hls ps5"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 25.22mm; height: 3.53mm; width: 158.61mm;">
										<span class="hrt cs10">&nbsp;&nbsp;&nbsp;&nbsp;주 소 및 명
											칭 :</span><span class="hrt cs12">&nbsp;</span><span class="hrt cs10">대전시
											중구 계룡로 846, 3-4층</span>
									</div>
									<div class="hls ps5"
										style="line-height: 2.79mm; white-space: nowrap; left: 0mm; top: 31.57mm; height: 3.53mm; width: 158.61mm;">
										<span class="hrt cs10">&nbsp;&nbsp;&nbsp;&nbsp;전 화 :
											042 – 123 - 4567 &nbsp;&nbsp;&nbsp;&nbsp;FAX : 070 - 1234 -
											5678</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hls ps0"
					style="line-height: 3.10mm; white-space: nowrap; left: 0mm; top: 262.21mm; height: 3.88mm; width: 189.99mm;"></div>
			</div>
		</div>
	</div>
</body>
</html>