<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.hospitalization.mapper.HospitalizationMapper">

<select id="hosptPatWaitList" resultType="kr.or.ddit.receipt.vo.WaitPatVO">
  SELECT 
        h.HSPTLZ_NO
    	, c.treat_no as treat_no
    	, r.rcept_no as rcept_no
        , p.pat_name  as pat_name
        , p.pat_code as pat_code
        , p.PAT_HSPTLZ_STATUS
        , TO_CHAR(sysdate,'YYYY') - SUBSTR(p.pat_brthdy,0,4) as pat_age
        , TO_CHAR(TO_DATE(p.pat_brthdy),'YYYY-MM-DD') as pat_brthdy
              , c1.com_code_name as pat_hsptlz_status
           , p.pat_hsptlz_in_date as pat_hsptlz_in_date
           , p.pat_hsptlz_out_plan aspat_hsptlz_out_plan
        , c2.com_code_name as pat_gen
        , c3.com_code_name as pat_path
        , c4.com_code_name as pat_first
        , c5.com_code_name as pat_day
        , e.emp_nm as emp_nm
       	, hf.hos_fc_name as hos_fc_name
       	, r.recept_time
           ,d.detail_no
       FROM tb_clinic c
       INNER JOIN tb_receipt r 
           INNER JOIN tb_patient p 
                   INNER JOIN tb_common_code c2 
                   ON p.pat_gen_code = c2.com_code 
                   AND c2.com_code_grp = 'GEND'
           ON r.pat_code = p.pat_code
           INNER JOIN tb_common_code c3
           ON r.rcept_path_code = c3.com_code  
           AND c3.com_code_grp = 'PVST'
           INNER JOIN tb_common_code c4
           ON r.rcept_first_exam_code = c4.com_code 
           AND c4.com_code_grp = 'FEXM'
           INNER JOIN tb_common_code c5
           ON r.rcept_day_code = c5.com_code 
           AND c5.com_code_grp = 'DAYN'
        ON c.rcept_no = r.rcept_no
        INNER JOIN tb_clinic_schedule cs
            INNER JOIN tb_hospital_facility hf 
            ON hf.HOS_FC_NO = cs.HOS_FC_NO
            INNER JOIN tb_employee e
            ON e.emp_no = cs.emp_no
        ON r.schd_no = cs.schd_no
        INNER JOIN tb_common_code c1 
        ON p. pat_hsptlz_status= c1.com_code 
        AND c1.com_code_grp = 'HSPT'
        INNER JOIN tb_chart_detail d ON d.TREAT_NO = c.TREAT_NO
        INNER JOIN TB_HOSPITALIZATION h ON h.PAT_CODE= p.PAT_CODE AND h.TREAT_NO = d.TREAT_NO
        WHERE p.PAT_HSPTLZ_STATUS = '3' AND h.HSPTLZ_YS = 'N'
</select>

<select id ="selectRoomData" resultType="kr.or.ddit.hospitalization.vo.SickRoomTypeVO">
	SELECT
		A.SCKRM_TYPE_CODE,
		A.SCKRM_TYPE_OCC,
		B.SCKRM_NO,
		MAX(C.SCK_BD_CONDITION) AS SCK_BD_CONDITION
	FROM TB_SICK_ROOM_TYPE A
	INNER JOIN TB_SICK_ROOM B ON A.SCKRM_TYPE_CODE = B.SCKRM_TYPE_CODE
	INNER JOIN TB_SICKBED C ON B.SCKRM_NO = C.SCKRM_NO
	GROUP BY
		A.SCKRM_TYPE_CODE,
		A.SCKRM_TYPE_OCC,
		B.SCKRM_NO
	ORDER BY B.SCKRM_NO ASC
</select>
<update id="updateHsptlzStatus" parameterType="kr.or.ddit.patient.vo.PatientVO">
UPDATE TB_PATIENT P
SET P.PAT_HSPTLZ_STATUS = '4'
WHERE P.PAT_CODE= #{patCode}
</update>

<update id="updateHsptlzRoom" parameterType="kr.or.ddit.order.vo.HospitalizationVO">
update TB_HOSPITALIZATION
set SCK_BD_NO = #{sckBdNo} , SCKRM_NO =#{sckrmNo}
where PAT_CODE = #{patCode}
</update>

<select id="selectHsptlzstatus" resultType="kr.or.ddit.order.vo.HospitalizationVO">
SELECT 
 distinct(P.PAT_CODE)
    , P.PAT_NAME
    , h.hsptlz_no
    , H.SCKRM_NO
    , H.SCK_BD_NO
    , P.PAT_HSPTLZ_IN_DATE
    , P.PAT_HSPTLZ_OUT_PLAN
    , H.HSPTLZ_IN_DATE
	, H.HSPTLZ_OUT_DATE
    , E.EMP_NM
    , P.PAT_HSPTLZ_STATUS 
FROM TB_PATIENT P 
INNER JOIN TB_HOSPITALIZATION H ON P.PAT_CODE = H.PAT_CODE
INNER JOIN TB_RECEIPT R ON R.PAT_CODE = P.PAT_CODE
INNER JOIN TB_CLINIC_SCHEDULE S ON S.SCHD_NO = R.SCHD_NO
INNER JOIN TB_EMPLOYEE E ON E.EMP_NO = S.EMP_NO
INNER JOIN TB_SICKBED SI ON SI.SCK_BD_NO = H.SCK_BD_NO
INNER JOIN TB_COMMON_CODE C1 ON C1.COM_CODE = SI.SCK_BD_CONDITION
WHERE (PAT_HSPTLZ_STATUS = '4' OR PAT_HSPTLZ_STATUS ='5') AND H.hsptlz_ys='N'
ORDER BY H.HSPTLZ_OUT_DATE ASC
</select>


<select id="getReqHospitalizationList" resultType="hospitalizationVO">
	SELECT 
		h.hsptlz_no
		, h.pat_code
		, h.treat_no
		, h.hsptlz_payment
		, h.hsptlz_in_date
		, h.hsptlz_out_date
		, h.sck_bd_no
		, h.sckrm_no
		, p.pat_name
		, p.pat_hsptlz_status
		, p.pat_hsptlz_in_date
		, p.pat_hsptlz_out_plan
		, p.pat_ihidnum
		, p.pat_addr
		, p.pat_dtl_addr
		, p.pat_tel
		, e.emp_nm
	FROM 
		tb_hospitalization h
	INNER JOIN  
		tb_patient p ON h.pat_code = p.pat_code
	INNER JOIN
		tb_clinic c ON c.treat_no = h.treat_no
	INNER JOIN
		tb_receipt r ON r.rcept_no = c.rcept_no
	INNER JOIN
		tb_clinic_schedule cs ON cs.schd_no = r.schd_no
	INNER JOIN
		tb_employee e ON e.emp_no = cs.emp_no
	WHERE
		h.hsptlz_ys = 'N'
	AND
		( p.pat_hsptlz_status = '2' 
	OR 
		p.pat_hsptlz_status = '5' )
	
</select>

<select id="getReqHospitalization" parameterType="hospitalizationVO" resultType="hospitalizationVO">
	/*getReqHospitalization*/
	SELECT 
		h.hsptlz_no
		, h.pat_code
		, h.treat_no
		, h.hsptlz_payment
		, to_char(to_date(h.hsptlz_in_date),'YYYY-MM-DD') hsptlz_in_date
		, h.hsptlz_out_date
		, h.sck_bd_no
		, h.sckrm_no
		, p.pat_name
		, p.pat_hsptlz_status
		, p.pat_hsptlz_in_date
		, p.pat_hsptlz_out_plan
		, p.pat_ihidnum
		, p.pat_addr
		, p.pat_dtl_addr
		, p.pat_tel
		, e.emp_nm
	FROM 
		tb_hospitalization h
	INNER JOIN  
		tb_patient p ON h.pat_code = p.pat_code
	INNER JOIN
		tb_clinic c ON c.treat_no = h.treat_no
	INNER JOIN
		tb_receipt r ON r.rcept_no = c.rcept_no
	INNER JOIN
		tb_clinic_schedule cs ON cs.schd_no = r.schd_no
	INNER JOIN
		tb_employee e ON e.emp_no = cs.emp_no
	WHERE h.hsptlz_no = #{hsptlzNo}
</select>

<update id="updatePatInHos" parameterType="String">
	/*updatePatInHos*/
	UPDATE 
		tb_patient
	SET 
		pat_hsptlz_status = '3' 
	WHERE 
		pat_code = #{patCode}
</update>
<update id="updateInHosVO" parameterType = "String">
	/*updateInHosVO*/
	UPDATE 
		tb_hospitalization
	SET 
		hsptlz_in_date = TO_CHAR(sysdate,'YYYY-MM-DD')
	WHERE 
		HSPTLZ_NO = #{hsptlzNo}
</update>
<update id="updatePatOutHos" parameterType="String">
	/*updatePatOutHos*/
	UPDATE 
		tb_patient
	SET 
		pat_hsptlz_status = '1' 
	WHERE 
		pat_code = #{patCode} 
</update>
<update id="updateOutHosVO" parameterType = "String">
	/*updateOutHosVO*/
	UPDATE 
		tb_hospitalization
	SET 
		hsptlz_out_date = TO_CHAR(sysdate,'YYYY-MM-DD'),
		hsptlz_ys = 'Y'
	WHERE 
		hsptlz_no = #{hsptlzNo}
</update>

<select id="getDetailNoDuringInHos" parameterType="String" resultType="hosReceiptionVO">
	/*getDetailNoDuringInHos*/
	SELECT 
		cd.detail_no
		, p.pat_name
		, p.pat_code
		, h.hsptlz_in_date
		, h.hsptlz_out_date
		, sr.sckrm_no
		, srt.sckrm_type_price
		, (TO_DATE(h.hsptlz_out_date)- TO_DATE(h.hsptlz_in_date)) * srt.sckrm_type_price  AS hos_room_total_price 
	FROM 
		tb_chart_detail cd
	INNER JOIN tb_clinic c ON c.treat_no = cd.treat_no
	INNER JOIN tb_receipt r ON r.rcept_no = c.rcept_no
	INNER JOIN tb_hospitalization h ON h.pat_code = r.pat_code
	INNER JOIN tb_patient p ON p.pat_code = r.pat_code
	INNER JOIN tb_sick_room sr ON sr.sckrm_no = h.sckrm_no
	INNER JOIN tb_sick_room_type srt ON srt.sckrm_type_code = sr.sckrm_type_code
	WHERE 
		to_char(cd.detail_reg_date,'YYYY-MM-DD') 
		BETWEEN 
			h.HSPTLZ_IN_DATE 
	AND 
			TO_CHAR(sysdate,'YYYY-MM-DD') 
	AND 
		h.hsptlz_no = #{hsptlzNo}
	AND
        cd.detail_no !=  (SELECT cd1.detail_no FROM tb_chart_detail cd1 WHERE cd1.treat_no = h.treat_no)
</select>
<update id="updateBdCondition" parameterType="kr.or.ddit.hospitalization.vo.SickbedVO">
	
	UPDATE TB_SICKBED 
	SET SCK_BD_CONDITION = 'FULL'
	WHERE SCKRM_NO = #{sckrmNo} AND SCK_BD_NO = #{sckBdNo}

</update>
<update id="updateBdConditionEmpt" parameterType="kr.or.ddit.hospitalization.vo.SickbedVO">
	
	UPDATE TB_SICKBED 
	SET SCK_BD_CONDITION = 'EMPT'
	WHERE SCKRM_NO = #{sckrmNo} AND SCK_BD_NO = #{sckBdNo}

</update>
<select id="getRoomPrice" parameterType="String" resultType="int">
	SELECT 
		srt.sckrm_type_price 
	FROM 
		tb_hospitalization h
	INNER JOIN tb_sick_room sr ON sr.sckrm_no = h.sckrm_no
	INNER JOIN tb_sick_room_type srt ON srt.sckrm_type_code = sr.sckrm_type_code
	WHERE 
		h.hsptlz_no = #{hsptlzNo}
</select>
<update id="updateHosRoomPrice" parameterType="hosRRoomVO">
	UPDATE 
		tb_hospitalization
	SET
		hsptlz_payment = #{sckrmTypePrice} * (TO_DATE(hsptlz_out_date)-TO_DATE(hsptlz_in_date))
	WHERE 
		hsptlz_no = #{hsptlzNo}

</update>
</mapper>