<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.common.mapper.SmsMapper">
	<select id="getSmsList" resultType="SmsVO">
	 /* getSmsList */
		SELECT
			s.sms_nm
			, s.sms_cn
			, s.sms_sj
		FROM
			tb_sms s
	</select>
	
	<select id="getSms" resultType="SmsVO" parameterType="SmsVO">
	 /* getSms */
		SELECT
			s.sms_nm
			, s.sms_cn
			, s.sms_sj
		FROM
			tb_sms s
		WHERE s.sms_nm = #{smsNm}
	</select>
	
	<insert id="insertSms" parameterType="SmsVO">
	 /* insertSms */
		INSERT INTO 
			tb_sms
			(
			sms_nm
			, sms_cn
			, sms_sj
			)
		VALUES
			(
			(SELECT NVL(MAX(sms_nm),0)+1 FROM TB_SMS)
			, #{smsCn}
			, #{smsSj}
			)
	</insert>
	
	<update id="updateSms" parameterType="SmsVO">
	/* updateSms */
		UPDATE 
			tb_sms
		SET
			sms_cn = #{smsCn}
			, sms_sj = #{smsSj}
		WHERE
			sms_nm = #{smsNm}
	</update>
	
	<delete id="deleteSms" parameterType="SmsVO">
	/* deleteSms */
		DELETE
		FROM
			tb_sms
		WHERE
			sms_nm = #{smsNm}
	</delete>
</mapper>